# vim: ft=sh

#### OTEL

## global
export OTEL_METRICS_EXPORTER=otlp       # Options: otlp, prometheus, console, none
export OTEL_LOGS_EXPORTER=otlp
export OTEL_TRACES_EXPORTER=otlp

export OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf # Options; grpc / http/protobuf

## site-wise
# export OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-endpoint.local
# export OTEL_EXPORTER_OTLP_HEADERS="Authorization=Bearer your-token"
# export OTEL_RESOURCE_ATTRIBUTES="hostname=$HOST"

## app-wise
# export CLAUDE_CODE_ENABLE_TELEMETRY=1

